rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/{multiSegment=**} {
      allow read, write: if request.auth.uid == userId;
    }
    match /drinks/{multiSegment=**} {
      allow read, write: if request.auth.uid != null;
    }
  }
}

